<h1>Registrarse</h1>

<p>Registrate</p>

<form action="/Usuario/crear-usuario" method="post">
    <div>
        <label for="username">Usuario</label>
        <input id="username" type="text" name="username">


        <div>
            <div>
                <label for="correo">Correo</label>
                <input id="correo" type="text" name="correo">

            </div>
            <div>
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input id="fechaNacimiento" type="text" name="fechaNacimiento">

            </div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
        <button>Registrarse</button>
</form>
<a href="/login">
    <button>Regresar</button>
</a>