<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROLES</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    
</head>
<body>
<div class="container">


    <h1 align="center"><span>Administración de Roles</span><br></h1>
    <p align="center">Mensajes de Error.</p>
    <p style="text-align:center">Mensaje De Error Aqui!</p>

    <div class="section">
        <h1><span>USUARIO ROLES</span></h1>
        <h1><span>USUARIO</span></h1>
        <h1><span>USUARIO</span></h1>
        <table>
            <tr>
                <th>Day</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
            </tr>
            <tr>
                <td>8-8:30</td>
                <td class="selected">Learn</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>9-10</td>
                <td></td>
                <td class="selected">Practice</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1-1:30</td>
                <td></td>
                <td></td>
                <td class="selected">Play</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3:45-5</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="selected">Code</td>
                <td></td>
            </tr>
            <tr>
                <td>6-6:15</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="selected">Discuss</td>
            </tr>
        </table>
    </div>


    <FORM name="validacion" action="http://www.tecnun.es/cgi-bin/ii/CGI0.exe" method="POST" target="resultado">
        <INPUT type="text" name="entrada">

    </FORM>


      <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</div>
</body>
</html>
